$main: #A218AB;
$secondary: #6E2155;
$tertiary: #6F1EB7;
$tertiary-opacity: rgba(111, 30, 183, 0.4);
$tertiary-some-opacity: rgba(111, 30, 183, 0.8);
$white: #FFFFFF;
$dark: #000000;
$grey: #efefef;
$grey-secondary: #e3e3e3;
$translucency: rgba(0, 0, 0, 0.5);
