.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  background-color: $translucency;
  cursor: pointer;

  &__wrapper {
    min-width: 600px;

    box-shadow: 0 10px 15px 3px rgba(14, 22, 28, 0.2);
    cursor: default;
  }

  &__header {
    display: flex;
    align-items: center;

    min-height: 70px;
    padding: 10px;

    position: relative;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: $secondary;

    &__icon {
      position: absolute;
      bottom: 5px;
      left: 20px;
      z-index: 10;

      opacity: 0.4;

      & svg {
        width: 50px;
        height: 50px;

        & path {
          fill: $white;
        }
      }
    }

    &__title {
      display: block;
      margin-left: 70px;

      font-size: 20px;
      font-weight: 500;
      color: $white;
    }
  }

  &__body {
    padding: 20px 40px 50px 40px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $white;

    font-size: 16px;
  }
}
